.gmail-login {
  display: inline-block; /* Show the image on hover */
  /* position: relative; Ensure the parent container is positioned */
}

.gmail-login :first-child{
  margin-top:30px !important;
}

.login-container {
  margin-top: -100px;
  width: 98vw;
  display: flex; /* Use flexbox to center align the box */
  justify-content: center; /* Center horizontally */
  align-items: center;
  text-align: center;
  color: white;
  font-family: "ChiKareGo2", monospace;
  text-align: center;
}

.dashed-box-google {
  margin: 10px;
  margin-top: 70px;
  width: 140px;
  height: 75px;
  display: flex; /* Makes it easier to center text and image inside */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border: 3px dashed #555; /* Adjust border width and color as needed */
  cursor: pointer; /* Makes it clear these are clickable */
}

.sign-in-via {
  color: grey;
  position: absolute;
  margin-top: -30px;
  margin-left: -13px;
  width: 100%;
  text-align: center;
}
